@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: montserrat, sans-serif;
    background-color: #808283;
}

/* LOGO AND TEXT */
.logo-text {
    text-align: center;
    font-size: 2.3rem;
}

.logo {
    height: 10%;
    width: 10%;
    padding-right: 1%;
}

/* GAME AREA */
.quiz-box {
    width: 80%;
    padding: 10%;
    background-color: #1EE494;
    border-radius: 2%;
}

#question-text {
    text-align: center;
    font-size: 2em;
}

.btn {
    font-size: 2em;
    background-color: #fff;
    color: #Ff5f2d;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin: 20px 0px;
    gap: 15px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.rules {
    font-size: 1.3em;
    text-align: center;
}

.hide {
    display: none;
}

#question {
    text-align: center;
    font-size: 1.8em;
}

#view-results {
    text-align: center;
    font-size: 1.8em;
}

#question-count {
    text-align: center;
    font-size: 1.5em;
    position: relative;
    margin: 2%;

}

body.correct {
    background: #00ff1a;
}

body.wrong {
    background: #Ff0000;
}

.btn.correct {
    background: #00ff1a;
    color: #fff;
}

.btn.wrong {
    background: #Ff0000;
    color: #fff;
}

/* BREAKPOINTS */

@media only screen and (min-width: 767px) {
    .quiz-box {
        font-size: 2.5em;
    }
}