@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: montserrat, sans-serif;
    background-color: #808283;
}

/******************************************** LOGO AND TEXT ***********************************/
.logo-text {
    text-align: center;
    font-size: 2.3rem;
}

.logo {
    height: 10%;
    width: 10%;
    padding-right: 1%;
}

/******************************************* GAME AREA ********************************************/
.quiz-box {
    width: 80%;
    padding: 10%;
    background-color: #1EE494;
    border-radius: 2%;
}

#question-text {
    text-align: center;
    font-size: 2em;
}

.btn {
    font-size: 1.5em;
    background-color: #fff;
    color: #Ff5f2d;
}
 /* Help from https://dev.to/webdeasy/top-20-css-buttons-animations-f41 */
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Help from https://www.w3schools.com/css/css_grid.asp */
.btn-grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    margin: 20px 0px;
    gap: 15px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.rules {
    font-size: 1.3em;
    text-align: center;
}

.hide {
    display: none;
}

#question {
    text-align: center;
    font-size: 1.8em;
}

#view-results {
    text-align: center;
    font-size: 1.8em;
}

#question-count {
    text-align: center;
    font-size: 1.5em;
    position: relative;
    margin: 2%;

}

body.correct {
    background: #00ff1a;
}

body.wrong {
    background: #Ff0000;
}

.btn.correct {
    background: #00ff1a;
    color: #fff;
}

.btn.wrong {
    background: #Ff0000;
    color: #fff;
}

/***************************************** 404 ERROR PAGE **************************************************************/
.error-text {
    font-size: 1.7em;
    text-transform: uppercase;
    text-align: center;
}

/****************************************** BREAKPOINTS *****************************************************************/
/* For devices with a min width of 460px */
@media only screen and (min-width: 460px) {

    /* Chanages the position and width of the quiz box */
    .quiz-box {
        position: absolute;
        right: 15%;
        width: 50%;
    }
}

/* For devices with a min width of 767px */
@media only screen and (min-width: 767px) {

    /* Chanages the position, width and font size of the quiz box */
    .quiz-box {
        font-size: 2em;
        position: absolute;
        right: 15%;
        width: 50%;
    }

}

/* For devices with a min width of 1279px */
@media only screen and (min-width: 1279px) {

    /* Chanages the answers buttons to be stacked side by side  */
    .btn-grid {
        display: grid;
        grid-template-columns: repeat(2, auto);
        margin: 20px 0px;
        gap: 15px;
    }
}

.username {
    font-size: 1.1em;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.text-input {
    position: relative;
    margin-bottom: 5%;
    right: -14%;
    border: 2px solid #Ff5f2d;
    border-radius: 10px;
    background-color: #fff;
    color: green;
}

.text-input:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.submit-buttton {
    font-size: 1.3em;
    position: relative;
    left: 30%;
    margin-bottom: 5%;
    background-color: #fff;
    color: #Ff5f2d;
}

.submit-buttton:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}