@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: montserrat, sans-serif;
    background-color:  #808283;
}

/* LOGO AND TEXT */
.logo-text {
    text-align: center;
    font-size: 2.3rem;
}

.logo {
    height: 10%;
    width: 10%;
    padding-right: 1%;
}

/* GAME AREA */
.quiz-box {
    width: 80%;
    padding: 10%;
    background-color: #53D397;
    border-radius: 2%;
}

.btn {
    font-size: 2em;
    color: #F7F9FF;
    background-color: #FF7A5C;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin: 20px 0px;
    gap: 15px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.hide {
    display: none;
  }


/* BREAKPOINTS */

@media only screen and (min-width: 767px) {
    .quiz-box {
        font-size: 2.5em;
    }
    
}